<div id="about">
  <h3>About me</h3>

  <p>Python data dev, maths grad, and kayak coach.</p>

  <h4>I'm doing</h4>
  <p>Currently I am freelance in the San Francisco Bay Area:</p>

  <ul class="square">
    <li>Teaching companies how to leverage and best practices for using git version control.</li>
    <li>Helping data scientists migrate from R to python.</li>
    <li>Consulting and building internal BI tools.</li>
  </ul>

  <h4>I like</h4>
  <ul class="square">
    <li>learning new things.</li>
    <li>road-biking, climbing and kayaking.</li>
  </ul>

  <p>I'm a BCU Level 3 kayak coach, with 5* white water leader.
  I've travelled the world kayaking grade 4/5 whitewater.</p>

</div>
