<div id="about">
  <h3>About me</h3>

  <p>Pydata/pandas core developer, maths graduate, and kayak coach.</p>

  <p>Eager to learn new things.</p>

  <p>I love walking, climbing and generally being outdoors. I'm a BCU Level 3 kayak coach, with 5* white water leader. I've travelled across Europe kayaking grade 4/5 whitewater (the French and Austrian Alps, the Pyrenees and Norway).</p>

  <p>I <a href="https://twitter.com/andyhayden1">tweet</a> about coding and data hacking related things.</p>

  <h3>Pandas</h3>
  <p>I stumbled across <a href="http://pandas.pydata.org"> this powerful python data analysis library</a>, which did both the data-munging and a lot of number crunching. The next day, I began porting as much of my code as possible and have never looked back. I am part of the pydata team, contribute code to the project and answer pandas questions on <a href="https://stackoverflow.com/users/1240268/andy-hayden">Stack Overflow</a>.</p>

  <h3>Analyst</h3>
  <p>I worked in the art sector. Part of the role was to manage an (incredibly broken) Filemaker database. In the evenings I studied programming online (for example Udacity's "programming a robotic car"), and, using these ideas, I wrote python programs to do our analysis for us.</p>

  <h3>Mathematician</h3>
  <p>I studied Pure Mathematics, first at Warwick University, then at Durham University. I love finding solutions, and <em>elegant</em> solutions, whatever the problem.</p>

  <p>I was a University tutor at both Warwick and Durham, teaching (among other things) linear algebra, real and complex analysis and group theory.</p>
</div>