<div class="footer">
  <div class="contact">
    <p>
      Andy Hayden<br />
      Python Data Hacker<br />
      <a href="https://github.com/hayd/cv/blob/master/cv.pdf?raw=true" style="none">resume</a>
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://github.com/hayd"><i class="fa fa-github fa-4x github"></i></a>
      <a href="https://twitter.com/yourusername"><i class="fa fa-twitter fa-4x twitter"></i></a>
      <a href="https://stackoverflow.com/users/1240268/andy-hayden"><i class="fa fa-stack-overflow fa-4x stack"></i></a>
    </p>
  </div>
</div>